ingestor:
  ingressDomain: &theIngress ""
  image: europe-docker.pkg.dev/gardener-project/public/gardener/falco-event-ingestor
  tag: 0.0.1
  publicKey: ""
  postgresPassword: ""
  commonName: *theIngress
  dnsNames: ""
  clusterDailyEventLimit: 4000

postgres:
  user: gardener
  host: falco-psql-cluster.falco-psql.svc.cluster.local
  port: 5432
  dbname: falco

server:
  port: 3200
