apiVersion: v1
kind: Secret
metadata:
  name: ingestor-secret
type: Opaque
data:
  token-keys.yaml: {{ .Values.ingestor.tokenVerificationKeys | b64enc }}
  public.pem: {{ .Values.ingestor.publicKey | b64enc }}
  postgresPassword: {{ .Values.postgres.password | b64enc }}
