{{- if .Values.ingestor.useIngress }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/use-port-in-redirects: "true"
    cert.gardener.cloud/purpose: managed
{{- if .Values.ingestor.gardenDNSProvider }}
    cert.gardener.cloud/dnsrecord-provider-type: {{ .Values.ingestor.gardenDNSProvider.type }}
    cert.gardener.cloud/dnsrecord-secret-ref: {{ .Values.ingestor.gardenDNSProvider.secretRef.namespace }}/{{ .Values.ingestor.gardenDNSProvider.secretRef.name }}
    cert.gardener.cloud/dnsrecord-class: garden
{{- end }}
  labels:
    app: falco-event-ingestor
  name: falco-event-ingestor-ingress
spec:
  ingressClassName: {{ .Values.ingestor.ingressClassName}}
  rules:
  - host: {{ .Values.ingestor.ingressDomain }}
    http:
      paths:
      - backend:
          service:
            name: falco-event-ingestor
            port:
              number: 3200
        path: /ingestor/api/v1/push
        pathType: Prefix
  tls:
  - hosts:
    - {{ .Values.ingestor.ingressDomain }}
    secretName: tls-ingestor
{{- end }}
